<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bgr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1850,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1850,632}}</string>
                <key>sourceSize</key>
                <string>{1850,632}</string>
            </dict>
            <key>magic_bgr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,4},{365,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,179}}</string>
                <key>sourceSize</key>
                <string>{365,181}</string>
            </dict>
            <key>magic_bgr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,642},{516,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,6}}</string>
                <key>sourceSize</key>
                <string>{516,6}</string>
            </dict>
            <key>magic_bgr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,375},{68,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,111}}</string>
                <key>sourceSize</key>
                <string>{68,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_env.png</string>
            <key>size</key>
            <string>{2043,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3b56d13f9034d852702a3660f3dcede:4f8cd5c64d980d3bae5e99f50efff22c:a8d1a20a01c6c07d1efe7bf3d406bbfd$</string>
            <key>textureFileName</key>
            <string>background_env.png</string>
        </dict>
    </dict>
</plist>
