<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrack_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{531,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,102}}</string>
                <key>sourceSize</key>
                <string>{531,102}</string>
            </dict>
            <key>building2_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,465},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>building2_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,465},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>building2_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,465},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>building2_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,465},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>button_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,411},{71,101}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{71,101}}</string>
                <key>sourceSize</key>
                <string>{85,111}</string>
            </dict>
            <key>button_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,572},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coinsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,516},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>elixiricon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,311},{46,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,59}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>player0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_101_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_101_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_102_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_103_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_103_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_104_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_105_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,311},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_105_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,157},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_106_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_106_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_107_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_107_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_108_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_108_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,4},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,418},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_109_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,264},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,418},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,110},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_110_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,264},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_110_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,418},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,110},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player1_301_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,264},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player2_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,284},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,438},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,157},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,311},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player2_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,465},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>player_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,110},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>player_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,438},{18,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>soldier_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,110},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>soldier_donate_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,411},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>soldier_donate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,4},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>soldier_info_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,374},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>soldier_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,552},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrack.png</string>
            <key>size</key>
            <string>{1997,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab60736dc35cdd4c6983a1c0efe12ea3:7cf291f2eee52ff2f6f1711a15c298e0:716bf49abeeddb1aa03779ccdc0aadbd$</string>
            <key>textureFileName</key>
            <string>barrack.png</string>
        </dict>
    </dict>
</plist>
