<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>background_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,647}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,647}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>loading_Progress_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,68},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>loading_Progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,68},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>loading_Progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,68},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1206,651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725b49a107761d0a7963db23e7d92105:5b67e77cb32c73fa4b9f7b2be5d9fd55:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
