<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10801_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,364},{112,110}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,149},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,370},{112,108}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,360},{112,110}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,348},{112,112}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,149},{112,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,372},{112,110}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,149},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,240},{112,110}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,254},{126,116}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,240},{128,116}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,354},{126,116}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,157},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,242},{128,116}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,254},{126,118}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{126,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,136},{128,116}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,153},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,126},{112,136}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,126},{112,136}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,118},{112,138}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,155},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,128},{112,136}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,130},{112,136}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_01_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,128},{112,138}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,153},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,364},{112,110}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,149},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,370},{112,108}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,360},{112,110}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,348},{112,112}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,149},{112,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,372},{112,110}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,149},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,240},{112,110}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,254},{126,116}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,240},{128,116}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,354},{126,116}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,157},{126,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,242},{128,116}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,254},{126,118}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{126,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,136},{128,116}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,153},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,126},{112,136}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,126},{112,136}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,118},{112,138}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,155},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,128},{112,136}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,130},{112,136}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,156},{112,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,128},{112,138}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,153},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,122},{116,140}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,153},{116,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,240},{112,140}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,153},{112,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,254},{118,126}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{118,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,362},{120,126}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,126},{132,126}}</string>
                <key>offset</key>
                <string>{29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,153},{132,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,242},{132,104}}</string>
                <key>offset</key>
                <string>{29,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,153},{132,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{122,138}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,155},{122,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{124,136}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,358},{124,126}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,157},{124,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,244},{124,124}}</string>
                <key>offset</key>
                <string>{25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,156},{124,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{136,126}}</string>
                <key>offset</key>
                <string>{30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,153},{136,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{136,124}}</string>
                <key>offset</key>
                <string>{30,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,153},{136,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{112,156}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,161},{112,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{114,154}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,163},{114,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{122,144}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,163},{122,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{122,140}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,163},{122,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,142}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,161},{132,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_03_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{132,138}}</string>
                <key>offset</key>
                <string>{25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,158},{132,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,242},{110,120}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,153},{110,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,374},{104,118}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,150},{104,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{152,122}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,143},{152,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,354},{140,120}}</string>
                <key>offset</key>
                <string>{34,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,163},{140,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{156,118}}</string>
                <key>offset</key>
                <string>{34,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,165},{156,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,240},{128,120}}</string>
                <key>offset</key>
                <string>{47,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{128,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{98,120}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,173},{98,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,124},{88,116}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{88,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,382},{92,88}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,185},{92,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,382},{86,74}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,189},{86,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,242},{110,120}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,153},{110,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,374},{104,118}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,150},{104,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{152,122}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,143},{152,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,354},{140,120}}</string>
                <key>offset</key>
                <string>{34,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,163},{140,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{156,118}}</string>
                <key>offset</key>
                <string>{34,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,165},{156,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,240},{128,120}}</string>
                <key>offset</key>
                <string>{47,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{128,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{98,120}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,173},{98,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,124},{88,116}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{88,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,382},{92,88}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,185},{92,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,382},{86,74}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,189},{86,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,242},{110,120}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,153},{110,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,374},{104,118}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,150},{104,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{152,122}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,143},{152,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,354},{140,120}}</string>
                <key>offset</key>
                <string>{34,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,163},{140,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{156,118}}</string>
                <key>offset</key>
                <string>{34,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,165},{156,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,240},{128,120}}</string>
                <key>offset</key>
                <string>{47,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{128,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{98,120}}</string>
                <key>offset</key>
                <string>{45,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,173},{98,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,124},{88,116}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{88,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,382},{92,88}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,185},{92,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,382},{86,74}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,189},{86,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,240},{112,110}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{112,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,136},{128,116}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,153},{128,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10801_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,128},{112,138}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,153},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10801.png</string>
            <key>size</key>
            <string>{1532,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f1378060f7270e802ac5ab267ff8b07:904bce732b4f09801198a8ed2b10e76e:18baf9163380f37074b2806ed9098011$</string>
            <key>textureFileName</key>
            <string>person10801.png</string>
        </dict>
    </dict>
</plist>
