<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person20201_01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,74},{50,64}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,204},{50,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_01_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{38,70}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,205},{38,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_01_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{38,72}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{38,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_01_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{38,74}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,202},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{32,74}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,202},{32,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{38,78}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,201},{38,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,80}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,199},{46,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{34,76}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{34,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{30,76}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,201},{30,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{34,76}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{34,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{40,66}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,205},{40,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,80},{44,68}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,204},{44,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,76},{48,62}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,204},{48,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{42,64}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,206},{42,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,74},{40,68}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,204},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{42,62}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,211},{42,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,44},{34,64}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,209},{34,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{32,68}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,207},{32,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,80},{38,62}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,210},{38,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,76},{44,66}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,209},{44,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_02_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,78},{46,68}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,209},{46,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{38,70}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,205},{38,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,68}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,206},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,80},{44,72}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{44,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{38,72}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{38,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{32,72}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,203},{32,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{52,72}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{52,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{38,76}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,201},{38,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{36,76}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,200},{36,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20201_03_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{32,72}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,205},{32,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person20201.png</string>
            <key>size</key>
            <string>{752,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525577a2a132992a43d9277b9b7fb6ff:ad240cd57f517eca0e6a0128013df884:87f75b445f54b619f89002cdc4a615d3$</string>
            <key>textureFileName</key>
            <string>person20201.png</string>
        </dict>
    </dict>
</plist>
