<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person20101_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{38,70}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,205},{38,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{38,72}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{38,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{38,74}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,202},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{32,74}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,202},{32,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{38,78}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,201},{38,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{46,80}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,199},{46,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{34,76}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{34,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{30,76}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,201},{30,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{34,76}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{34,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{40,66}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,205},{40,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{44,68}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,204},{44,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{48,62}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{48,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{42,64}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,206},{42,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{40,68}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,204},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,64}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,204},{50,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{42,62}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,211},{42,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{34,64}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,209},{34,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{32,68}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,207},{32,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{38,62}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,210},{38,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{44,66}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,209},{44,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{46,68}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,209},{46,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{40,68}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,206},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{44,72}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,203},{44,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{32,72}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,203},{32,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,72}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{52,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{36,76}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,200},{36,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person20101_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{32,72}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,205},{32,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person20101.png</string>
            <key>size</key>
            <string>{56,1946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451000a7f58dc47e3a9adc43bec4fd05:f6970a284766cc8d36363f0a6399a170:193c233eb07d0d9964da976c928f3ad9$</string>
            <key>textureFileName</key>
            <string>person20101.png</string>
        </dict>
    </dict>
</plist>
