<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10601_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1116},{198,172}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,82},{198,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{200,174}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,83},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{202,176}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,83},{202,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1026},{198,176}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,82},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{198,174}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,83},{198,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{204,176}}</string>
                <key>offset</key>
                <string>{4,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,82},{204,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,584},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,496},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,540},{200,180}}</string>
                <key>offset</key>
                <string>{11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,356},{200,182}}</string>
                <key>offset</key>
                <string>{12,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,54},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{200,180}}</string>
                <key>offset</key>
                <string>{11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{200,180}}</string>
                <key>offset</key>
                <string>{10,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,54},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,338},{202,156}}</string>
                <key>offset</key>
                <string>{4,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,61},{202,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,736},{200,174}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,722},{200,174}}</string>
                <key>offset</key>
                <string>{7,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,180},{202,174}}</string>
                <key>offset</key>
                <string>{4,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,62},{202,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1080},{198,174}}</string>
                <key>offset</key>
                <string>{4,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,63},{198,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_01_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,680},{200,174}}</string>
                <key>offset</key>
                <string>{6,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,62},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1116},{198,172}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,82},{198,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{200,174}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,83},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{202,176}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,83},{202,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1026},{198,176}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,82},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{198,174}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,83},{198,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{204,176}}</string>
                <key>offset</key>
                <string>{4,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,82},{204,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,584},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,496},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,540},{200,180}}</string>
                <key>offset</key>
                <string>{11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,356},{200,182}}</string>
                <key>offset</key>
                <string>{12,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,54},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{200,180}}</string>
                <key>offset</key>
                <string>{11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{200,180}}</string>
                <key>offset</key>
                <string>{10,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,54},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,338},{202,156}}</string>
                <key>offset</key>
                <string>{4,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,61},{202,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,736},{200,174}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,722},{200,174}}</string>
                <key>offset</key>
                <string>{7,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,180},{202,174}}</string>
                <key>offset</key>
                <string>{4,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,62},{202,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1080},{198,174}}</string>
                <key>offset</key>
                <string>{4,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,63},{198,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,680},{200,174}}</string>
                <key>offset</key>
                <string>{6,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,62},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,938},{198,176}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,82},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,556},{200,178}}</string>
                <key>offset</key>
                <string>{6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,83},{200,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{202,176}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,83},{202,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{198,176}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,82},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1066},{198,174}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,83},{198,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{204,176}}</string>
                <key>offset</key>
                <string>{4,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,82},{204,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,400},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,172},{200,202}}</string>
                <key>offset</key>
                <string>{10,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,856},{200,168}}</string>
                <key>offset</key>
                <string>{11,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,768},{200,168}}</string>
                <key>offset</key>
                <string>{12,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,54},{200,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,912},{200,166}}</string>
                <key>offset</key>
                <string>{11,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,55},{200,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,898},{200,166}}</string>
                <key>offset</key>
                <string>{10,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,55},{200,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{200,174}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{200,174}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,202},{200,196}}</string>
                <key>offset</key>
                <string>{7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,61},{200,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,180},{202,156}}</string>
                <key>offset</key>
                <string>{4,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,62},{202,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1204},{198,156}}</string>
                <key>offset</key>
                <string>{4,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,63},{198,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_03_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{200,156}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,62},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1362},{154,164}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,66},{154,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{146,162}}</string>
                <key>offset</key>
                <string>{-37,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,61},{146,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{212,168}}</string>
                <key>offset</key>
                <string>{-16,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,53},{212,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1242},{196,164}}</string>
                <key>offset</key>
                <string>{14,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,80},{196,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,162}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,82},{216,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1362},{178,164}}</string>
                <key>offset</key>
                <string>{33,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,87},{178,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1390},{142,164}}</string>
                <key>offset</key>
                <string>{28,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,94},{142,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1256},{126,158}}</string>
                <key>offset</key>
                <string>{8,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,83},{126,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1408},{126,120}}</string>
                <key>offset</key>
                <string>{-12,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,110},{126,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1408},{120,104}}</string>
                <key>offset</key>
                <string>{-15,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,116},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1362},{154,164}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,66},{154,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{146,162}}</string>
                <key>offset</key>
                <string>{-37,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,61},{146,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{212,168}}</string>
                <key>offset</key>
                <string>{-16,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,53},{212,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1242},{196,164}}</string>
                <key>offset</key>
                <string>{14,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,80},{196,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,162}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,82},{216,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1362},{178,164}}</string>
                <key>offset</key>
                <string>{33,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,87},{178,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1390},{142,164}}</string>
                <key>offset</key>
                <string>{28,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,94},{142,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1256},{126,158}}</string>
                <key>offset</key>
                <string>{8,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,83},{126,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1408},{126,120}}</string>
                <key>offset</key>
                <string>{-12,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,110},{126,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1408},{120,104}}</string>
                <key>offset</key>
                <string>{-15,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,116},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1362},{154,164}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,66},{154,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{146,162}}</string>
                <key>offset</key>
                <string>{-37,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,61},{146,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{212,168}}</string>
                <key>offset</key>
                <string>{-16,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,53},{212,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1242},{196,164}}</string>
                <key>offset</key>
                <string>{14,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,80},{196,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,162}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,82},{216,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1362},{178,164}}</string>
                <key>offset</key>
                <string>{33,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,87},{178,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1390},{142,164}}</string>
                <key>offset</key>
                <string>{28,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,94},{142,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1256},{126,158}}</string>
                <key>offset</key>
                <string>{8,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,83},{126,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1408},{126,120}}</string>
                <key>offset</key>
                <string>{-12,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,110},{126,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1408},{120,104}}</string>
                <key>offset</key>
                <string>{-15,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,116},{120,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1116},{198,172}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,82},{198,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,584},{200,182}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,52},{200,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10601_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,736},{200,174}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,60},{200,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10601.png</string>
            <key>size</key>
            <string>{1022,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453d3a77152fec339a299d5664f079f2:25b1bf3ebdb3648852de89f830c702ee:1d75432168971b615bda015079d1ff55$</string>
            <key>textureFileName</key>
            <string>person10601.png</string>
        </dict>
    </dict>
</plist>
