<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10701_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,934},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1232},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1730},{126,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_01_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1212},{126,120}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,181},{126,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1072},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_01_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,662},{150,136}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,176},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,510},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,794},{150,138}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,171},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1790},{150,138}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,171},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1650},{150,138}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,171},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,814},{148,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,172},{148,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,338},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1602},{126,122}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1474},{126,122}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,180},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1340},{126,122}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,180},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1722},{126,122}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,180},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1598},{126,122}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1474},{126,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1510},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1370},{150,138}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,175},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1092},{150,138}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,176},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,952},{150,138}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,175},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,642},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,490},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{164,166}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,142},{164,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{156,162}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,146},{156,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{164,166}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,142},{164,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{156,162}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,146},{156,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,358},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,192},{144,132}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,169},{144,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,484},{148,122}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,179},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{142,132}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,169},{142,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{148,122}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,179},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1350},{126,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,332},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,192},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1668},{150,138}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,175},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,876},{90,56}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{90,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,794},{80,98}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,191},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1212},{124,136}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{150,168}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,129},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{152,188}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,119},{152,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{142,196}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,111},{142,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{140,202}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,102},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,212}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,86},{138,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,876},{90,56}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{90,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,794},{80,98}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,191},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1212},{124,136}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{150,168}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,129},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{152,188}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,119},{152,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{142,196}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,111},{142,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{140,202}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,102},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,212}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,86},{138,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,876},{90,56}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{90,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,794},{80,98}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,191},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1212},{124,136}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{150,168}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,129},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{152,188}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,119},{152,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{142,196}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,111},{142,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{140,202}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,102},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,212}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,86},{138,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,206},{150,136}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{150,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,634},{126,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,179},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10701_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{150,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10701.png</string>
            <key>size</key>
            <string>{570,1943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b33b01f74db896801fcfe4d63257c9:abf9d780f08a1040098cee7013d65c1c:a9e0f3622bb90912c0cec2e5f614b628$</string>
            <key>textureFileName</key>
            <string>person10701.png</string>
        </dict>
    </dict>
</plist>
