<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{234,369}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{234,369}}</string>
                <key>sourceSize</key>
                <string>{238,373}</string>
            </dict>
            <key>soldier_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,589},{198,343}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{198,343}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,589},{174,313}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,33},{174,313}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{236,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{236,349}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,695},{248,267}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{248,267}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{308,275}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,42},{308,275}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{296,335}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{296,335}}</string>
                <key>sourceSize</key>
                <string>{306,339}</string>
            </dict>
            <key>soldier_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,373},{320,259}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,47},{320,259}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,300},{312,287}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{312,287}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
            <key>soldier_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,329}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{306,329}}</string>
                <key>sourceSize</key>
                <string>{326,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldierui.png</string>
            <key>size</key>
            <string>{908,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b046f747e6273562e377ba4beebe18e:ecc554b778e8e0a4e7d379d834e8e575:b7041a3eeb8bed6a43e5ffabd5128885$</string>
            <key>textureFileName</key>
            <string>soldierui.png</string>
        </dict>
    </dict>
</plist>
