<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,914},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,82},{70,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,927},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,816},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,111},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,816},{102,98}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,317},{129,236}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,236}}</string>
                <key>sourceSize</key>
                <string>{129,256}</string>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,3},{310,312}}</string>
                <key>offset</key>
                <string>{40,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{310,312}}</string>
                <key>sourceSize</key>
                <string>{390,400}</string>
            </dict>
            <key>bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,317},{96,102}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,64},{96,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,816},{183,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{183,176}}</string>
                <key>sourceSize</key>
                <string>{215,194}</string>
            </dict>
            <key>level_tip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,816},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>level_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,948},{68,48}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{68,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,927},{66,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,927},{68,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,450},{68,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,450},{68,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_level_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1004},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,53.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>map_route_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,3},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{14,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>wars_bg_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,450},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>wars_bg_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,922},{89,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,67}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>wars_bg_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,927},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>wars_bg_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,948},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>wars_bg_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,21},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>wars_bg_make.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,75},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>wars_bg_map_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,533},{480,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,279}}</string>
                <key>sourceSize</key>
                <string>{480,279}</string>
            </dict>
            <key>wars_bg_map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,535},{283,388}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{283,388}}</string>
                <key>sourceSize</key>
                <string>{291,528}</string>
            </dict>
            <key>wars_bg_map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,535},{468,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,287}}</string>
                <key>sourceSize</key>
                <string>{468,287}</string>
            </dict>
            <key>wars_bg_map_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,3},{526,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,375}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
            <key>wars_bg_map_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{347,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,528}}</string>
                <key>sourceSize</key>
                <string>{347,528}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wars_map.png</string>
            <key>size</key>
            <string>{1093,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a20e5b68af1fc099c8ae750f372846c:ed1f58274138d0ef1dce9aaef96f389b:1f1405d96fba187030e1fb86e1206a41$</string>
            <key>textureFileName</key>
            <string>wars_map.png</string>
        </dict>
    </dict>
</plist>
