<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,876},{445,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{445,310}}</string>
                <key>sourceSize</key>
                <string>{569,412}</string>
            </dict>
            <key>area_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,564},{445,310}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{445,310}}</string>
                <key>sourceSize</key>
                <string>{569,412}</string>
            </dict>
            <key>arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1335},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1958},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>arrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1950},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>arrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1950},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>destroy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2008},{36,37}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{36,37}}</string>
                <key>sourceSize</key>
                <string>{116,87}</string>
            </dict>
            <key>destroy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1807},{111,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{111,71}}</string>
                <key>sourceSize</key>
                <string>{235,171}</string>
            </dict>
            <key>destroy_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1118},{137,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,78},{137,100}}</string>
                <key>sourceSize</key>
                <string>{345,244}</string>
            </dict>
            <key>destroy_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1880},{143,98}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,75},{143,98}}</string>
                <key>sourceSize</key>
                <string>{345,244}</string>
            </dict>
            <key>destroy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1646},{159,111}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,102},{159,111}}</string>
                <key>sourceSize</key>
                <string>{457,331}</string>
            </dict>
            <key>destroy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1257},{97,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{97,76}}</string>
                <key>sourceSize</key>
                <string>{569,412}</string>
            </dict>
            <key>green_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1340},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>green_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1654},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,168}}</string>
                <key>sourceSize</key>
                <string>{224,168}</string>
            </dict>
            <key>green_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1696},{336,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,252}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>green_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{448,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,336}}</string>
                <key>sourceSize</key>
                <string>{448,336}</string>
            </dict>
            <key>green_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,420}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>other0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1529},{54,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{54,38}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>other1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1950},{58,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>other2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1950},{58,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>other3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1950},{58,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>other4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1643},{39,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{39,27}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>other5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1958},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>other6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1958},{87,54}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{87,54}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>other7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,522},{89,96}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>person_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,522},{25,21}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,105},{25,21}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>red_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,734},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>red_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1428},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,168}}</string>
                <key>sourceSize</key>
                <string>{224,168}</string>
            </dict>
            <key>red_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1442},{336,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,252}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>red_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{448,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,336}}</string>
                <key>sourceSize</key>
                <string>{448,336}</string>
            </dict>
            <key>red_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{560,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,420}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>rt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1471},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1413},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1998},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1978},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1978},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1978},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1046},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rt1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,988},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rtt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1585},{56,22}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rtt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1992},{28,40}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rtt0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1950},{56,22}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>rtt1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1978},{28,40}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>tile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,620},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>tile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,168}}</string>
                <key>sourceSize</key>
                <string>{224,168}</string>
            </dict>
            <key>tile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1188},{336,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,252}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>tile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{448,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,336}}</string>
                <key>sourceSize</key>
                <string>{448,336}</string>
            </dict>
            <key>tile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,420}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>tilemask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,930},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>troophousing0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1880},{96,204}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,46},{96,204}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1118},{96,220}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,30},{96,220}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1426},{96,218}}</string>
                <key>offset</key>
                <string>{-2,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,31},{96,218}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1860},{96,222}}</string>
                <key>offset</key>
                <string>{-2,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,29},{96,222}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,876},{112,240}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,20},{112,240}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1188},{112,238}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,21},{112,238}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,262},{112,258}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,1},{112,258}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>troophousing7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{112,258}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,0},{112,258}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>wt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,872},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1046},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,988},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,930},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,872},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2003},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2003},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wt1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2003},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wtt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1389},{56,22}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wtt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,846},{28,40}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wtt0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,848},{56,22}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>wtt1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,846},{28,40}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building001.png</string>
            <key>size</key>
            <string>{1104,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5e3ea44eb1b30562c8e0e3cfe81ca88:fcc252dab9938a288712ab1848ff6156:839635545bd02b6357b69054f60e44d0$</string>
            <key>textureFileName</key>
            <string>building001.png</string>
        </dict>
    </dict>
</plist>
