<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_guide_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1130},{96,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
            <key>ui_guide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{186,212}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,46},{186,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_guide_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1058},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>ui_guide_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{320,484}}</string>
                <key>offset</key>
                <string>{-34,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{320,484}}</string>
                <key>sourceSize</key>
                <string>{388,550}</string>
            </dict>
            <key>ui_guide_villain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,568}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{321,568}}</string>
                <key>sourceSize</key>
                <string>{409,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_npc.png</string>
            <key>size</key>
            <string>{325,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f466e4a6bad8ac9b99187fb46d687c:7cae9b2f7d5ce94a2728e28520e64fec:a02e9d0d00fb7f579867315feb6c6599$</string>
            <key>textureFileName</key>
            <string>game_npc.png</string>
        </dict>
    </dict>
</plist>
