<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10101_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,78},{36,74}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,199},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{42,74}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,204},{42,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{52,76}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{52,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{40,74}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,197},{40,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{34,78}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,195},{34,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{36,80}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,194},{36,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,80},{34,76}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,197},{34,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{38,74}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,195},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{40,76}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{40,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{52,70}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,204},{52,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{50,70}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{50,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{48,64}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{48,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,46},{50,62}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,206},{50,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{54,70}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{54,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{58,66}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{58,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{56,64}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,210},{56,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{52,66}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,207},{52,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{54,64}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,208},{54,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{56,62}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,210},{56,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{56,68}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,208},{56,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{56,68}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,207},{56,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{44,72}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,204},{44,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{44,72}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,204},{44,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{44,72}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,204},{44,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{86,98}}</string>
                <key>offset</key>
                <string>{28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,178},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,100}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,175},{74,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,100}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,176},{72,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{60,74}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{60,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{60,74}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{60,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{60,74}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{60,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{102,76}}</string>
                <key>offset</key>
                <string>{29,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{102,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{98,76}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,202},{98,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{94,76}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,202},{94,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,76},{36,72}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,200},{36,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,76},{36,72}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,200},{36,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,78},{36,72}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,200},{36,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,106}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,197},{68,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{56,100}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,197},{56,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_03_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,78},{36,74}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,198},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,82},{32,40}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,235},{32,40}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,78},{36,74}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,201},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{42,100}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,175},{42,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,66},{42,114}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,161},{42,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{42,124}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,151},{42,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,68},{42,132}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,144},{42,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,70},{44,138}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,138},{44,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,72},{42,140}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,135},{42,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,80},{34,62}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,134},{34,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,74},{36,66}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,131},{36,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,74},{36,70}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,130},{36,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{36,64}}</string>
                <key>offset</key>
                <string>{9,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,129},{36,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,82},{32,40}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,235},{32,40}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,78},{36,74}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,201},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{42,100}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,175},{42,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,66},{42,114}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,161},{42,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{42,124}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,151},{42,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,68},{42,132}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,144},{42,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,70},{44,138}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,138},{44,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,72},{42,140}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,135},{42,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,80},{34,62}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,134},{34,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,74},{36,66}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,131},{36,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,74},{36,70}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,130},{36,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{36,64}}</string>
                <key>offset</key>
                <string>{9,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,129},{36,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,82},{32,40}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,235},{32,40}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,78},{36,74}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,201},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{42,100}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,175},{42,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,66},{42,114}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,161},{42,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{42,124}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,151},{42,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,68},{42,132}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,144},{42,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,70},{44,138}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,138},{44,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,72},{42,140}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,135},{42,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,80},{34,62}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,134},{34,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,74},{36,66}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,131},{36,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,74},{36,70}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,130},{36,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_04_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{36,64}}</string>
                <key>offset</key>
                <string>{9,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,129},{36,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,78},{36,74}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,199},{36,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{42,74}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,204},{42,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10101_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{52,76}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{52,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10101.png</string>
            <key>size</key>
            <string>{2044,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383fa6eac513f08f7bfddbea799dd1a2:c4b90473ceaff22c498ffb0b1b524a2f:134188ca8829b26f7e6da069e4afcb42$</string>
            <key>textureFileName</key>
            <string>person10101.png</string>
        </dict>
    </dict>
</plist>
