<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10901_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,698},{160,146}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{160,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1212},{164,156}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,128},{164,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1542},{166,154}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{166,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1710},{164,152}}</string>
                <key>offset</key>
                <string>{25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,133},{164,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1524},{170,154}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1680},{170,152}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{170,152}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,148},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1040},{170,152}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,147},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1864},{166,166}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,159},{166,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1378},{162,158}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,160},{162,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1864},{168,166}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,161},{168,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_01_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{168,166}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,161},{168,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1212},{164,156}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,128},{164,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1542},{166,154}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{166,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1710},{164,152}}</string>
                <key>offset</key>
                <string>{25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,133},{164,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,698},{160,146}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{160,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1524},{170,154}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1680},{170,152}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{170,152}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,148},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1040},{170,152}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,147},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1864},{166,166}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,159},{166,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1378},{162,158}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,160},{162,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1864},{168,166}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,161},{168,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{168,166}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,161},{168,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,368},{190,156}}</string>
                <key>offset</key>
                <string>{38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,128},{190,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{180,156}}</string>
                <key>offset</key>
                <string>{33,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,128},{180,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{194,152}}</string>
                <key>offset</key>
                <string>{36,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,135},{194,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{186,148}}</string>
                <key>offset</key>
                <string>{33,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{186,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{170,174}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,145},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{172,160}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,145},{172,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,698},{178,174}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,145},{178,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1194},{174,160}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,146},{174,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{178,168}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,159},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1356},{172,166}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,159},{172,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,526},{182,170}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,157},{182,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{176,168}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,158},{176,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,874},{164,178}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,76},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{156,174}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,72},{156,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{226,184}}</string>
                <key>offset</key>
                <string>{12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,63},{226,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{210,178}}</string>
                <key>offset</key>
                <string>{44,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,94},{210,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,180}}</string>
                <key>offset</key>
                <string>{45,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{232,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{194,178}}</string>
                <key>offset</key>
                <string>{63,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,98},{194,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1040},{152,176}}</string>
                <key>offset</key>
                <string>{59,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,108},{152,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,526},{136,170}}</string>
                <key>offset</key>
                <string>{37,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,96},{136,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,860},{134,128}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,126},{134,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,368},{138,112}}</string>
                <key>offset</key>
                <string>{8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,131},{138,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,874},{164,178}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,76},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{156,174}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,72},{156,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{226,184}}</string>
                <key>offset</key>
                <string>{12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,63},{226,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{210,178}}</string>
                <key>offset</key>
                <string>{44,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,94},{210,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,180}}</string>
                <key>offset</key>
                <string>{45,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{232,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{194,178}}</string>
                <key>offset</key>
                <string>{63,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,98},{194,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1040},{152,176}}</string>
                <key>offset</key>
                <string>{59,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,108},{152,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,526},{136,170}}</string>
                <key>offset</key>
                <string>{37,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,96},{136,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,860},{134,128}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,126},{134,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,368},{138,112}}</string>
                <key>offset</key>
                <string>{8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,131},{138,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,874},{164,178}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,76},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{156,174}}</string>
                <key>offset</key>
                <string>{-11,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,72},{156,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{226,184}}</string>
                <key>offset</key>
                <string>{12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,63},{226,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{210,178}}</string>
                <key>offset</key>
                <string>{44,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,94},{210,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,180}}</string>
                <key>offset</key>
                <string>{45,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{232,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{194,178}}</string>
                <key>offset</key>
                <string>{63,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,98},{194,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1040},{152,176}}</string>
                <key>offset</key>
                <string>{59,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,108},{152,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,526},{136,170}}</string>
                <key>offset</key>
                <string>{37,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,96},{136,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,860},{134,128}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,126},{134,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,368},{138,112}}</string>
                <key>offset</key>
                <string>{8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,131},{138,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,698},{160,146}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{160,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1524},{170,154}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10901_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1864},{166,166}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,159},{166,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10901.png</string>
            <key>size</key>
            <string>{513,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bbded72400314e89cb3a7e26b0e53f:00872c2e101a0e7ebad13f50b820f7a3:0b81e6f60f62d7439b23fd1ff1a29ffd$</string>
            <key>textureFileName</key>
            <string>person10901.png</string>
        </dict>
    </dict>
</plist>
