<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10501_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{102,92}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,205},{102,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,100},{96,92}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,114},{102,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{102,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{102,92}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,205},{102,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{102,90}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,206},{102,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,106},{102,90}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,207},{102,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{100,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,207},{100,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{100,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,207},{100,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,106},{102,90}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,207},{102,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,100},{96,92}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{96,92}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,100},{96,90}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,203},{96,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{96,90}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,203},{96,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{96,90}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,203},{96,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,100},{96,92}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,114},{102,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{102,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,114},{100,110}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,197},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{100,110}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,198},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,114},{100,110}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,199},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{100,110}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,198},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,114},{100,110}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,197},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,114},{102,92}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,205},{102,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,104},{100,94}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,202},{100,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{98,96}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,199},{98,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,104},{98,98}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,197},{98,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{98,100}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,195},{98,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,106},{98,100}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,195},{98,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{96,92}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,102},{92,96}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,197},{92,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{88,98}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,195},{88,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,102},{88,98}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,195},{88,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{88,100}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,193},{88,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,104},{88,100}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,193},{88,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{102,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{102,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{100,110}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,195},{100,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{98,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,194},{98,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,120},{98,112}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,192},{98,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,130},{98,114}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,190},{98,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_03_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{98,116}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,188},{98,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,208},{56,36}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,241},{56,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,180},{50,64}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,221},{50,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,100},{78,84}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,201},{78,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{94,104}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{94,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{96,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,181},{96,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{96,122}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{96,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{102,126}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,169},{102,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,136}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,158},{88,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,208},{56,36}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,241},{56,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,180},{50,64}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,221},{50,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,100},{78,84}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,201},{78,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{94,104}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{94,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{96,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,181},{96,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{96,122}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{96,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{102,126}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,169},{102,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,136}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,158},{88,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,208},{56,36}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,241},{56,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,180},{50,64}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,221},{50,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,100},{78,84}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,201},{78,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{94,104}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{94,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{96,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,181},{96,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{96,122}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{96,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{102,126}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,169},{102,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,136}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,158},{88,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{102,92}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,205},{102,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,100},{96,92}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,201},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10501_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,114},{102,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{102,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10501.png</string>
            <key>size</key>
            <string>{2022,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b28d23824f19499d56f63e4f1181143:8f3d0eaccb15d9237afc989aef3f7867:02d77c334db65f9c6cd4f6b01f1907b8$</string>
            <key>textureFileName</key>
            <string>person10501.png</string>
        </dict>
    </dict>
</plist>
