<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10301_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,294},{52,74}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{52,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,200},{46,82}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,195},{46,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,78},{62,74}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{62,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,248},{52,74}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,196},{52,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,434},{52,80}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,193},{52,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{52,78}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,192},{52,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,98},{52,76}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,195},{52,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,98},{52,74}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,195},{52,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,348},{50,74}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,195},{50,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,324},{48,76}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,196},{48,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,48},{48,80}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,193},{48,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{48,72}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,192},{48,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,400},{48,70}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,197},{48,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,48},{48,76}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,198},{48,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,262},{48,72}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,198},{48,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,192},{68,64}}</string>
                <key>offset</key>
                <string>{27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,212},{68,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,434},{68,60}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,211},{68,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,426},{66,64}}</string>
                <key>offset</key>
                <string>{25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,211},{66,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,400},{66,62}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,212},{66,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,426},{66,64}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,213},{66,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,192},{64,68}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,211},{64,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,98},{52,74}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{52,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,152},{82,84}}</string>
                <key>offset</key>
                <string>{28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,188},{82,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,100},{80,90}}</string>
                <key>offset</key>
                <string>{30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,182},{80,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,154},{84,86}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,186},{84,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,152},{46,82}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,195},{46,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{96,70}}</string>
                <key>offset</key>
                <string>{37,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,207},{96,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,336},{90,74}}</string>
                <key>offset</key>
                <string>{41,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,203},{90,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{96,82}}</string>
                <key>offset</key>
                <string>{36,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,195},{96,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{62,74}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{62,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,336},{80,88}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,213},{80,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,242},{70,86}}</string>
                <key>offset</key>
                <string>{31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,216},{70,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,262},{72,98}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,203},{72,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,48},{40,46}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{40,46}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{44,88}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,182},{44,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,140},{50,120}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,136}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,134},{50,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,336},{50,146}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,125},{50,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{50,156}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,116},{50,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,164}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,108},{52,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,166}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,105},{50,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,324},{40,74}}</string>
                <key>offset</key>
                <string>{8,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,103},{40,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{44,78}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,101},{44,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,238},{44,84}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,98},{44,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,248},{44,76}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,97},{44,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,48},{40,46}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{40,46}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{44,88}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,182},{44,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,140},{50,120}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,136}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,134},{50,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,336},{50,146}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,125},{50,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{50,156}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,116},{50,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,164}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,108},{52,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,166}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,105},{50,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,324},{40,74}}</string>
                <key>offset</key>
                <string>{8,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,103},{40,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{44,78}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,101},{44,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,238},{44,84}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,98},{44,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,248},{44,76}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,97},{44,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,48},{40,46}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{40,46}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{44,88}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,182},{44,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,140},{50,120}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,151},{50,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,136}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,134},{50,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,336},{50,146}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,125},{50,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{50,156}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,116},{50,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,164}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,108},{52,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,166}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,105},{50,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,324},{40,74}}</string>
                <key>offset</key>
                <string>{8,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,103},{40,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{44,78}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,101},{44,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,238},{44,84}}</string>
                <key>offset</key>
                <string>{6,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,98},{44,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_04_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,248},{44,76}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,97},{44,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,294},{52,74}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{52,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,200},{46,82}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,195},{46,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10301_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,78},{62,74}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{62,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10301.png</string>
            <key>size</key>
            <string>{510,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec568989949b700dc9ca3d1364f1292:b48925bed0c9a4acd10ad429dd0b8c1e:e12dda3b761d1536d3bb241dd16e0fc1$</string>
            <key>textureFileName</key>
            <string>person10301.png</string>
        </dict>
    </dict>
</plist>
