<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person10201_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{38,74}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{54,78}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,198},{54,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_01_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{50,76}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{50,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,80},{48,74}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,194},{48,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{48,78}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,192},{48,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{48,78}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,188},{48,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,80},{48,76}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,192},{48,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,82},{46,78}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,191},{46,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,82},{46,74}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,192},{46,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{56,70}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,199},{56,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,74},{54,70}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,198},{54,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{58,66}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,197},{58,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,76},{52,68}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,200},{52,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{54,72}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,199},{54,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{56,70}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,198},{56,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,74},{54,66}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,207},{54,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{54,64}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,205},{54,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{54,72}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,205},{54,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{56,66}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,207},{56,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{56,68}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,206},{56,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_02_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{54,74}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{54,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{38,74}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{40,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,213},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,76},{40,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,213},{40,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{64,118}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,163},{64,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,116}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{64,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{60,112}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{60,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,86},{42,70}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,208},{42,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,84},{40,72}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{40,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{54,78}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,198},{54,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,72},{56,66}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,209},{56,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,72},{56,66}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,209},{56,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{108,78}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,197},{108,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{102,82}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,193},{102,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{94,86}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,189},{94,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{56,72}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,203},{56,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{56,76}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,200},{56,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{50,76}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{50,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,78},{50,70}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,202},{50,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,78},{48,70}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{48,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{82,76}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,196},{82,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{80,76}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,196},{80,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{74,76}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,196},{74,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,82},{46,76}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,196},{46,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_03_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,80},{48,76}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,196},{48,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,92},{28,36}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,235},{28,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,58},{32,64}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,206},{32,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{36,88}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,182},{36,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{38,100}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,170},{38,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{38,108}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,163},{38,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{36,116}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,155},{36,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,120}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,151},{38,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,122}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,149},{38,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,98},{30,56}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,145},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,70},{32,58}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,144},{32,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,92},{32,62}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,142},{32,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,98},{30,56}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,142},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,92},{28,36}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,235},{28,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,58},{32,64}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,206},{32,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{36,88}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,182},{36,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{38,100}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,170},{38,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{38,108}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,163},{38,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{36,116}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,155},{36,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,120}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,151},{38,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,122}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,149},{38,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,98},{30,56}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,145},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,70},{32,58}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,144},{32,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,92},{32,62}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,142},{32,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,98},{30,56}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,142},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,92},{28,36}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,235},{28,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,58},{32,64}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,206},{32,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{36,88}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,182},{36,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{38,100}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,170},{38,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{38,108}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,163},{38,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{36,116}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,155},{36,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,120}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,151},{38,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,122}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,149},{38,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,98},{30,56}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,145},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,70},{32,58}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,144},{32,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,92},{32,62}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,142},{32,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_04_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,98},{30,56}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,142},{30,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{38,74}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{38,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{54,78}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,198},{54,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>person10201_05_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{50,76}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{50,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person10201.png</string>
            <key>size</key>
            <string>{1996,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3504b3b88e84e20de04f6fd97fdfdbc:d25db447310ce0393de44e9821533bcf:9c1a576b3f1c1922e272e6ccf809b254$</string>
            <key>textureFileName</key>
            <string>person10201.png</string>
        </dict>
    </dict>
</plist>
