<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>拜年啦，祝所有学员年年圆满如意，月月事事顺心。驾考理论学习我推荐车轮驾考通app，快速过理论，不过包赔！</string>
	<string>拜年啦，祝所有学员爱情友情双丰收，事业学业人人夸。驾考理论学习我推荐车轮驾考通app，快速过理论，快快快！</string>
	<string>拜年啦，新的一年祝所有学员逢考必过，事事顺利。科一科四理论学习就用车轮驾考通app，题库最新最全，不过包赔！</string>
	<string>我衷心的祝福所有学员：一帆风顺年年好，万事如意步步高！学车考驾照，我建议大家使用车轮驾考通app，快快快！</string>
	<string>拜年啦！祝大家身体健康，阖家欢乐！驾考理论学习就用车轮驾考通app，全新智能答题模式，快速过理论，不过包赔！</string>
	<string>祝所有学员新春来福，财猪拱门，顺利拿证。车轮驾考通app，全新智能答题模式，快速过理论，不过包赔！</string>
	<string>猪年到，吉星照，阖家欢乐幸福笑。祝所有学员新年快乐，笑口常开！驾考理论学习只用车轮驾考通app，快速过理论！</string>
	<string>祝所有学员新的一年股票红通通，事业牛哄哄，驾考理论学习我推荐使用车轮驾考通app，快速过理论，快快快！</string>
	<string>愿所有学员新的一年里，学业进步，生活美满。驾考理论学习我推荐车轮驾考通app，快速过理论，不过包赔，快快快！</string>
	<string>感谢我的所有学员们，祝你们新年快乐，万事如意！驾考理论学习使用车轮驾考通app，快速过理论，不过包赔，快快快！</string>
</array>
</plist>
